$white: #fff;
$black: #000;
$yellow: #FFD200;
$gunmetal: rgb(44, 54, 63);

// Partials
@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/global';

// Components
@import 'components/humble-question';
@import 'components/humble-reveal';

